<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<nav th:replace="fragments/nav" />



	<div class="container">
		<h2 th:text="#{users.details.message}">Detalles del usuario</h2>
		<div class="panel panel-default">
			<div class="panel-heading">DNI</div>
			<div class="panel-body" th:text="${user.dni}">28276</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{users.name.message}">Nombre</div>
			<div class="panel-body" th:text="${user.name}">
				UO11111@uniovi.es</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{users.surname.message}">Apellido</div>
			<div class="panel-body" th:text="${user.lastName}">100</div>
		</div>
	</div>


</body>
</html>
