<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<nav th:replace="fragments/nav" />



	<div class="container">
		<h2 th:text="#{departments.departments.message}">Profesores</h2>
		<p th:text="#{departments.list.message}">Los profesores que actualmente figuran en el sistema son los
			siguientes:</p>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableTeachers" id="tableTeachers">
				<thead>
					<tr>
						<th class="col-md-1" th:text="#{departments.description.message}">Descricion</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="department : ${departmentList}">
						<td th:text="${department.description}">1</td>
						<td><a th:href="${'/department/details/' + department.id}" th:text="#{list.details.message}">detalles</a></td>
						<td><a th:href="${'/department/edit/' + department.id}" th:text="#{list.modify.message}">modificar</a></td>
						<td><a th:href="${'/department/delete/' + department.id}" th:text="#{list.remove.message}">eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />

</body>
</html>